* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-: 'Yusei Magic', sans-serif;
    --bg-body: rgb(82, 1, 34);
    --txt: #f2d250;
    --txt-card: #ffffff;
    --beige: #fcfadd;
}

body {
    background: rgb(26, 25, 25);
    background: var(--bg-body); 
    
}

header nav h1 {
    font-family: var(--ff-);
    text-align: center;
    margin-top: 50px;
    color: var(--txt);
}

header nav .social {
    text-align: center;
    margin: 20px 0 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    

}

@media (min-width: 1180px) {
    header nav .social {
        text-align: center;
        margin: 20px 0 100px;
        display: flex;
        gap: 20px;
        justify-content: center;
            
        
    }

    nav {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        align-items: baseline;
        gap: 30px;
    }

}

header nav .social a img {
    width: 50px;
}

@media (min-width: 1180px) {
    header nav .social a img {
        width: 30px;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (min-width: 600px) {
    .cards {
        display: grid;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        grid-template-areas: "a b" 
                             "c d";
    }

}

@media (min-width: 1080px) {
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    
}

.card {
    position: relative;
    width: 250px;
    height: 350px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background: var(--bg-body);
    
    text-align: center;
    border-radius: 20px;
    
    background: url(./imgs/3.PNG);
    background-size: cover;
    
    
    
    
  }

  .card:hover {
    transform: rotateY(180deg);
    transition: transform 1s ease;
  }

  .front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .front {
    z-index: 2;
    margin-top: 100px;
    color: var(--txt);
    
  }

  .front p {
    font-size: 20px;
    
  }

  .back {
    transform: rotateY(180deg);
    text-align: justify;
    padding: 10px;
    border-radius: 20px;

    /* background-size: cover;
    background-repeat: no-repeat; */

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: var(--beige);
     
  }
  
  button {
    margin: 45px 75px;
    width: 80px;
    height: 32px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: var(--bg-body);
    color: var(--beige);
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #171718 0 -3px 0 inset;
  }

  button:hover {
    cursor: pointer;
    background: rgb(126, 2, 52);
  }

  button p {
    text-align: center;
    margin-bottom: 5px;
  }
  